.speech {
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
}

.direction {
    font-family:'Courier New', Courier, monospace;
    font: size 10px;
    color: red;
    background-color: antiquewhite;
    transition: background-color 0.3s,color 0.3s;
}
.kaia{
    color: rgb(239, 22, 203);

}
.brovik{
    color:rgb(22,110,5);
}
.direction:hover {
    background-color: rgb(13,158,240);
    color:azure;
}
.BROVIK{
    color: rgb(59, 211, 56);
}
.RAGNAR{
    color:brown
}
.KAIA{
    color: blue;
}