.speech {
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
}

.direction {
    font-family:'Courier New', Courier, monospace;
    font: size 10px;
    color: red;
    background-color: antiquewhite;
    transition: background-color 0.3s,color 0.3s;
}
.kaia{
    color: rgb(239, 22, 203);

}
.brovik{
    color:rgb(22,110,5);
}
.direction:hover {
    background-color: rgb(13,158,240);
    color:azure;
}
.BROVIK{
    color: rgb(59, 211, 56);
}
.RAGNAR{
    color:brown
}
.KAIA{
    color: blue;
}
table td{
    width: 50%;
    border-collapse: collapse;
    margin: bottom 10px;
}
table td{
    color: black;
    text-align: left;
    padding: 5px;
    border: 3px black;
}
table td{
    text-align: left;
    padding: 10px;
    border: 1px black;
}
tr:nth-child(even) {
    background-color:rgb(323,210,63);
}